@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


a:link {
    color: lightcoral;
}

a:visited {
    font-style: italic;
    color: white;
}

h2 {
    color: hsla(355, 85%, 63%, 1);
    text-align: right;
    margin-right: 3px;
}

h3 {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 10px;
}


header {
    background: hsla(355, 85%, 63%, 1);
    margin: 0;
    padding: 30px;
    max-width: 100%;
}

header h1 {
    text-align: center;

}

section {
    margin: 10px;
}

section div {
    border-radius: 10px;
    background-color: hsla(355, 85%, 63%, .9);
    padding: 10px;
}

footer {
    margin: 10px;
    text-align: center;
}

/* IDs */
#listInit {
    margin-left: 10px;
}

#personal p {
    position: relative;
    text-align: center;
}

/* Classes */
.projectButton {
    background-color: rgb(221, 83, 95);
    max-width: 20rem;

}

@media only screen and (min-width: 900px) {
    section {
        margin: 10px auto;
        max-width: 900px;
    }
}