@media only screen and (min-width: 42em) {
    header div {
        max-width: 900px;
    }

    header div h1 {
        text-align: center;
        font-size: 2.4em;
        padding-top: 20px;
        padding-right: 150px;
    }

    header div p {
        text-align: center;
        font-size: 1em;
        padding-right: 150px;
    }

    header img {
        margin-left: 10%;
    }

    nav ul {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    nav ul li {
        flex: 1 1 100%;
        border-right: 1px dotted #90a8c3;
    }
    nav ul li:first-child {
        border-left: 1px dotted #90a8c3;
    }

    nav ul li a {
        padding: 7px 0; ;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    section.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }



    section:nth-child(3) img {
        grid-column: 2;
    }

    section:nth-child(3) div {
        grid-column: 1;
        grid-row: 1;
    }

    section:nth-child(1) img, section:nth-child(2) img {
        grid-column: 1;
    }

    section:nth-child(1) div, section:nth-child(2) div {
        grid-column: 2;
        grid-row: 1;
    }
/*     section:nth-child(4) a{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
 */

    
/* 
    section h2{
        font-size: 1em;
    } */

    .townImage{
        width: 98%;
        margin: auto;
    }

    main, footer{
        max-width: 900px;
        margin: 0 auto;
    }

    footer {
        padding: 15px 0;
    }

    /*   main div {
        grid-template-columns: 1fr 1fr;
    } */

    #contactSection {
        clear: right;
        height: 340px;
        padding: 25px 0;
        max-width: 900px;
        width: 95%;
    }

    #contactSection div {
        float: right;
        width: 48%;
        margin-top: 50px;
    }

    #map {
        max-width: 40%;
    }

    footer {
        clear: right;
    }
}