body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-radius: 12px;
    background-color: darkcyan;
    height: 130px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

table {
    max-width: 100%;
}

h2 {
    font-size: 1.8em;
}

section {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    width: 70%;
    margin-right: 50%;
}

footer {
    border-radius: 12px;
    background-color: #005C5C;
    height: 90px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FAEFFA;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

li a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

li a:visited {
    color: rgb(0, 139, 139);
    background-color: transparent;
    text-decoration: none;
}

li a:hover {
    color: rgb(0, 139, 139);
    background-color: transparent;
    text-decoration: underline;
}

#homeName {
    font-size: 3em;
    margin-bottom: 20%;
    text-align: center;
    color: white;

}

#homePic {
    margin-top: 20px;
    margin-right: 10px;


}

#pic {
    max-width: 200px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(0, 139, 139);
}

#copyright {
    font-size: 0.9em;
}

#lastUpdate {
    font-size: 0.8em;
}

@media (max-width: 700px) {
    header {
        height: 250px;

    }

    #pic {
        width: auto;
        max-height: 160px;
        box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
        margin-bottom: 10px;
    }

    #homeName {
        font-size: 2em;
        margin-bottom: 0px;
        width: 100%;

    }

    h2 {
        font-size: 1.3em;
    }

    hr {
        width: 100%;
    }
}