@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    section:nth-child(1) {
        margin-bottom: 0;
    }

    section:nth-child(2) {
        margin: 16px 8px 0 8px;
    }

    section:nth-child(3) {
        grid-column: span 1;
        margin-top: 16px;
        margin-left: 8px;
        margin-bottom: 0;
    }
}