h1 {
    text-align: center;
}

picture {
    display: block;
    margin-top: 10px;
}

[data-src] {
    min-width: 300px;
    min-height: 400px;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    display:block;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 0 auto;
}