@media only screen and (min-width: 42em) {
    header div {
        max-width: 900px;
    }

    header div h1 {
        text-align: center;
        font-size: 2.4em;
        padding-top: 20px;
        padding-right: 150px;
    }

    header div p {
        text-align: center;
        font-size: 1em;
        padding-right: 150px;
    }

    header img {
        margin-left: 10%;
    }

    nav ul {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    nav ul li {
        flex: 1 1 100%;
        border-right: 1px dotted #90a8c3;
    }
    nav ul li:first-child {
        border-left: 1px dotted #90a8c3;
    }

    nav ul li a {
        padding: 7px 0; ;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    main, footer{
        max-width: 900px;
        width:95%;
        margin: 0 auto;
    }

    section div h3 {
        margin-top: 60px;
    }

    footer {
        padding: 15px 0;
    }

    #fiveDay {
        display: block;
    }

    #fiveDay h3 {
        text-align: center;
        
    }

    #fiveDayLayout {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        max-width: 550px;
        margin: 0 auto;

    }

    .days {
        max-width: 100px;
        flex: 1 1 auto;
        
        
    }

    .days p {
        text-align: center;
        margin:0;
        color: #31003C;
        background-color: #ada7c9;
        
    }

    .weatherIcon {
        font-size: 40px;
    }

    #day1, #day2, #day3, #day4, #day0 {
        background-color: #31003C;
        color: #ada7c9;
        padding: 3px 0
    }

    .days :nth-child(3) {
        padding-bottom: 3px;
    }

    #articleImage {

        position: relative;
        float: right;
        max-width: 450px;
        margin-bottom: 5px;
        padding-left: 30px;
    }

    #dayArticle {
        padding: 30px;
    }
    

    #map {
        float: left;
        padding: 0 20px 20px 0;
    }

    #contactSection {
        height:340px;
    }

    footer {
        clear: left;
    }
}