/*Navigation*/
nav {
    li {
    display: inline-block;
    width: 19%;
    }
    button {
        display: none;
    }
}

.hide {
    display: block;
}

/*Rentals*/ 
.rentals {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    section {
        display: block;
        div {
            padding-left: 0;
        }
        
    
    }
}

/*Reservation*/ 
form {
    fieldset {
        #rentalDate {
            height: 20px;
        padding-top: 0;
        }
    }
}