/*Header*/
header {
    img {
        width:10%;
    }
}

/*Navigation*/
nav {
    button {
        margin: 10px;
    }
}


/*Home Page*/
#callToAction{
    div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
