/*General*/
body {
    background-color: $raisinBlack;
    font-family: $context;
    color: $pinkSherbet;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header;
    color: $lightCoral;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
    color: $lightCoral;
}

a:visited {
    color: $cyanProcess;
}

/*Header*/
header {
    max-width: 900px;
    margin: 0 auto;
    h1 {
        font-size: 60px;
        margin: 10px;
    }
    img {
        width: 20%;
        float: right;
    }
}

/*Navigation*/
nav {
    clear: both;
    max-width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid $platinum;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 5px solid transparent;
}

nav li {
    list-style: none;
}

a h3 {
    padding: 10px 0;
    margin: 0;
}

a h3:link {
    text-decoration: none;
}

a h3:visited {
    color: $cyanProcess;
}

a h3:hover {
    background-color: $lightCoral;
    color: $raisinBlack;
    animation-name: navi;
    animation-duration: 0.4s;
}

#current {
    background-color: $platinum;
    color: $raisinBlack;
    text-decoration: 3px underline;
}

@keyframes navi {
    from {background-color:$raisinBlack;}
    to {background-color: $lightCoral;}
  }

/*Main*/
main {
    max-width: 900px;
    margin: 0 auto;
    section {
        margin: 10px;
    }
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    color: $platinum;
    max-width: 900px;
    margin:8px auto;
    border-top: 1px solid $platinum;
    p {
        display: inline;

        i {
            font-size: 20px;
        }
    }
}

/*Buttons*/
.button {
    border: 2px solid $lightCoral;
    border-radius: 8px;
    background-color: $lightCoral;
    color: $platinum;
    padding: 3px;

}

.button:hover {
    background-color: $platinum;
    color: $lightCoral;
}

/*Home Page*/
#callToAction{
    position: relative;
    img {
        max-width: 900px;
        width: 100%;
        margin: 5px auto;
        object-fit: cover;
        opacity: 0.4;
    }
    div {
        text-align: center;
    }
}
